    </div>
    <footer>
      Version: <%= version %>
    </footer>
    <% if (typeof script !== 'undefined') { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% } %>
  </body>
</html>
