<%- include ../__common__/header %>

<% var stickyListId = 'sticky-list1' %>
<% var stickyListTitle = 'First Sticky List' %>
<%- include stickyList %>

<div class="stripe text-center">
  <h3 class="font-weight-normal">Here's some content</h3>
</div>

<% var stickyListId = 'sticky-list2' %>
<% var stickyListTitle = 'Second Sticky List' %>
<%- include stickyList %>

<%- include ../__common__/footer %>
