<%- include ../__common__/header %>

<% var timelineId = 'timeline1' %>
<% var timelineTitle = 'First Timeline' %>
<%- include timeline %>

<div class="stripe text-center">
  <h3 class="font-weight-normal">Here's some content</h3>
</div>

<% var timelineId = 'timeline2' %>
<% var timelineTitle = 'Second Timeline' %>
<%- include timeline %>

<%- include ../__common__/footer %>
