<%- include ../__common__/header %>

<div id="timeline">
<% timelineEvents.forEach((timelineEvent) => { %>
  <%- include ../__common__/timeline-event %>
<% }); %>
</div>

<%- include ../__common__/footer %>
