<%- include ../__common__/header %>

<div id="sticky-list">
<% listItems.forEach((listItem, i) => { %>
  <% var listItemKey = (i < 10 ? '0' : '') + i %>
  <%- include ../__common__/listItem %>
<% }); %>
</div>

<%- include ../__common__/footer %>
